.App {
  text-align: center;
  min-width: 700px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  vertical-align: middle;
}

.App-header {
  height: 70px;
  line-height: 50px;
  padding: 20px;
  color: #eee;
  box-shadow: 0 3px 14px 0 RGBA(0, 0, 0, .2);
  background-color: #14CCA7;
}

.links {
  margin: 0;
  list-style: none;
  line-height: 1;
}

.link {
  margin: 6px 12px;
  display: inline-block;
}

.App-title {
  vertical-align: middle;
  font-size: 24px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
